/* .input-box .icon {
  position: absolute;
  right: 20px;
  top: 100%;
  transform: translateY(-50%);
  font-size: 16px;
} */

.wrapper .registers-link {
  font-size: 14.5px;
  text-align: center;
  padding-top: 16px;
}

.registers-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding-top: 16px;
}

.registers-link p a:hover {
  text-decoration: underline;
}
